{% extends 'shared/layout.html' %}

{% block title %}
    contact us page
{% endblock %}

{% block content %}
    <div class="back_re">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h2>Contact Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'ticket-page' %}" method="post" class="main_form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form.title }}
                                </div>
                                <div class="col-md-12">
                                    {{ form.text }}
                                </div>
                                <div class="col-md-12">
                                    <button class="send_btn">Send</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        <div class="alert alert-danger">
                            for set Ticket must be <a href="">Login</a>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="map_main">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Azadi+Tower+Tehran+Iran"
                                    width="600" height="400" frameborder="0" style="border:0; width: 100%;"
                                    allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}