<div class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="titlepage">
                    <h2>About Us</h2>
                    <p>
                        {{ site.about_site|linebreaks }}
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <div class="about_img">
                    {% for image in about_image %}
                        <figure><img src="{{ image.image.url }}" alt="#"/></figure>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>