{% load thumbnail %}

<section class="banner_main">
    <div id="myCarousel" class="carousel slide banner" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slider in sliders_count %}
                <li data-target="#myCarousel" data-slide-to="{{ slider }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}

        </ol>
        <div class="carousel-inner">
            {% for slider in sliders %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    {% thumbnail slider.image '1600x795' crop='center' as img %}
                        <img class="first-slide" src="{{ img.url }}" alt="First slide">
                    {% endthumbnail %}
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>