{% load thumbnail %}

<div class="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>gallery</h2>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            {% for gallery in galleries %}
                <div class="col-md-3 col-sm-6">
                    <div class="gallery_img">
                        {% thumbnail gallery.image '222x188' crop='center' as img %}
                            <figure><img src="{{ img.url }}" alt="#"/></figure>
                        {% endthumbnail %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>